@font-face {
    font-family: 'Bebas Neue';
    src: url('../static/fonts/Bebas_Neue/BebasNeue-Regular.woff2') format('woff2'),
        url('../static/fonts/Bebas_Neue/BebasNeue-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-size: 34px;
    font-display: block;
}

.container {
    margin-right: auto;
    margin-left: auto;
    background-color: #AE3646;
    height: 100%;
    width: 325px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
}

.list {
    padding-left: 0px;
    list-style-type: none;
}

.list li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-bottom: 30px;
}

.smallMargin {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    width: 275px;
    margin: auto;
    display: block;
    padding-top: 25px;
}

.divider {
    margin-top: -15px;
    background-color: #FFFFFF;
}

.container a {
    font-family: Bebas Neue;
    color: #FFFFFF;
    font-size: 34px;
    line-height: 41px;
}

.selected {
    background: #FFFFFF;
}

.selected a {
    color: #AE3646;
}