@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

.border {
	font: thick;
	border-bottom: 6px solid;
	border-bottom-color: rgba(174, 54, 70, 0.7);
	width:525px;
	height: 80px;
}

.title {
	font-family: "Bebas Neue", sans-serif;
	font-size: 72px;
	font-style: regular;
	align-self: center;
	vertical-align: top;
	line-height: 100%;
	font-weight: 400px;
	color:#AE3646;
}
